.all{
	width:70%;
	overflow:hidden;
	margin:auto;
	background:#48D1CC;
	border:3px solid #321789;
}
#mydiv{
	width:50%;
	overflow:hidden;
	text-align:center;
	margin:auto;
}
#content{
	width:50%;
	height:100px;
	margin-left:25%;
}
#infor{
	margin-left:35%;
}