/*默认参数什么的*/
* {
	padding: 0;
	margin: 0;
}

/*计算器的框框*/
.calculator-holder {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 50px;
	margin-top: 100px;
}

/*计算器*/
.calculator {
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*恩，，，*/
.calculator-form{
	height: 100%;
	width: 100%;
}

/*计算器中的输入框*/
.calculator-input-text {
	height: 86%;
	width: 20%;
}

/*计算器中的选择*/
.calculator-select{
	width: 10%;
	height: 100%;
}

/*计算器中的运算按钮*/
.calculator-input-submit{
	width: 10%;
	height: 100%;
}
